.searchbar {
    background-image: url(/assets/bg.jpg);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar .dish {
    width: 80vw;
    border-radius: 7.5px;
    height: 7.5vh;
    border-width: 0;
    opacity: 70%;
}

.searchbar i {
    position: absolute;
}

.icon {
    padding: 10px;
    color: black;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

input[type="text"]::placeholder {

    /* Microsoft Edge */
    padding-left: 1vw;
}

input[type="text"] {

    /* Microsoft Edge */
    padding-left: 4vw;
}

.foodimages {
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.foodimages .card {
    margin: 0 5vw;
}

.foodimages .card img {
    height: 40vh;
}

.load .cardlist {
    display: flex;
}

.load .cardlist .row .card {
    margin: 0 5vw;
}

.brands {
    display: flex;
}

.load {
    padding-bottom: 10vh;
}

.partnerbrands .brands .logo img {
    height: 7vh;
    width: 7vw;
    margin-right: 5vw;
}


.partnerbrands {
    padding-left: 5vw;
    padding-bottom: 10vh;
}